# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

.env

# Output of the go coverage tool
*.coverprofile

# Build directories
bin/
build/

# Go workspace file
go.work
go.work.sum

# Dependency directories (remove the comment below if you use Go modules)
vendor/

# IDE/editor specific
.idea/
.vscode/
*.swp

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
